.display-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.score {
    font-size: 6em;;
}

.choice {
    font-size: 1.5em;
}

.result-box {
    align-self: flex-end;
    font-size: 1.5em;
}